.aside {
    padding-top: 41px;
    width: 25.0677%;
    border: 1px solid #ececec;
    .title {
        font-family: Arial;
        color:  #212121;
        font-size: 18.01px;
        font-weight: 400;
        letter-spacing: -0.45px;
        text-align: left;
        padding: 10px 0 10px 12.5px;
        background-image: url("/images/line_aside.png");
        border-bottom: 1px solid #ececec;
    }
    .main_ul {
      
        .red:hover {
            color: #ae3b44;
        }
        .email {
            position: relative;
        }
        .email:after {
            content: "";
            display: inline-block;
            background-image: url("/images/triangle/triangle_right.png");
            background-repeat: no-repeat;
            position: absolute;
            width: 10px;
            height: 10px;
            top: 40%;
            left: 92%;
            
        }
        .CRM {
            position: relative;
        }
        .CRM:after {
            content: "";
            display: inline-block;
            background-image: url("/images/triangle/triangle_right.png");
            background-repeat: no-repeat;
            position: absolute;
            width: 10px;
            height: 10px;
            top: 16px;
            left: 92%;
            
        }
        .CRM:hover::after{
      
            transform: rotate(90deg);
            left: 90%;
        }


    }
    ul {
        li {
     
            border-bottom: 1px solid #ececec;
            font-family: Arial;
            color:  #3c3c3c;
            font-size: 12px;
            font-weight: 400;
            line-height: 11px;
            text-align: left;
            line-height: 39px;
            align-items: center;
            
            a {
                display: inline-block;
                width: 100%;
                text-indent: 14px;
            }
        }

        .second_ul {
            display: none;
            background-color: #f4f7f8;

            .full_features {
                position: relative;
            }
            .full_features:after {
                content: "";
                display: inline-block;
                background-image: url("/images/triangle/triangle_right.png");
                background-repeat: no-repeat;
                position: absolute;
                width: 10px;
                height: 10px;
                top: 16px;
                left: 92%;
            }
            
            li {
                a {
                    text-indent: 38px;
                }
            }
          
            .third_ul {
                display: none;
                background-color: #eaeaea;
                border-bottom: 1px solid #d6d6d6c0;
                li {
                    position: relative;
                    border-top: 1px solid #d6d6d6c0;
                    
                    a { 
                        text-indent: 59px;
                    }
                }
                li:after {
                    content: "";
                    display: inline-block;
                    background-image: url("/images/triangle/triangle_right.png");
                    background-repeat: no-repeat;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: 16px;
                    left: 16%;
                }
            }
            .email_hosting {
                position: relative;
            }
            .email_hosting:after {
                content: "";
                display: inline-block;
                background-image: url("/images/triangle/triangle_right.png");
                background-repeat: no-repeat;
                position: absolute;
                width: 10px;
                height: 10px;
                top: 16px;
                left: 92%;
            }
            .email_hosting:hover .third_ul {
                display: block;
                border-top: 1px solid #ececec;
            }
            .email_hosting:hover::after{
          
                transform: rotate(90deg);
                left: 90%;
            }
        }
        .CRM:hover  .second_ul{
            display: block;
            border-top: 1px solid #ececec;

        }

    }
    .online_store {
        background-color: #ae3b44;
        color: white;
        position: relative;
    }
    .online_store::after {
        content: "🢒";
        color:  #ae3b44;
        font-size: 17px;
        position: absolute;
        left: 100%;
    }
  

   


}
