.footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: #f8f8f8;
        border-top: 1px solid #ececec;
        padding-top: 19px;  
        padding-bottom: 21px;
        .title {
            font-family: Arial;
            color:  rgba(57, 57, 57, 0.5);
            font-size: 15px;
            font-weight: 400;
            letter-spacing: -0.375px;
            margin-bottom: 20px;

        }
        ul {
            li {
                font-family: Arial;
                color:  rgba(57, 57, 57, 0.5);
                font-size: 11.98px;
                font-weight: 400;
                line-height: 1.6;    

                a {
                    cursor: pointer;
                }
            }
        }

        .quick_links {
            width: 50%;
            padding-left: 18px;
            padding-right: 6%;
            .links {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .security_privacy {
            margin-left: 45px;
            width: 28%;
        }

        .stay_in_touch {
            width: 24%;
            h4 {
                margin-bottom: 16px;
            }
            ul {
                width: 114px;
                display: flex;   
                justify-content: space-between;     
                color: #dedede;
                margin-bottom: 16px;
               
               
                li {
                    font-size: 26px;
                    a {
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                    }
                    a:hover i {
                        color: #5671a8; 
                    }
                }
            }
            p {
                font-family: Arial;
                color:  rgba(57, 57, 57, 0.5);
                font-size: 10.99px;
                font-weight: 400;
                line-height: 5.169px;
            }
        }
        

        // .links  {
        //     display: flex;
        //     flex-direction: column;
        //     padding-left: 16px;
        //     .title {
        //         font-family: Arial;
        //         color:  rgba(57, 57, 57, 0.5);
        //         font-size: 15px;
        //         font-weight: 400;
        //         letter-spacing: -0.375px;
        //         text-align: left;
        //         margin-bottom: 24.4px;
        //     }
        //     ul {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: space-between;
        //         li {
        //             font-family: Arial;
        //             color:  rgba(57, 57, 57, 0.5);
        //             font-size: 11.98px;
        //             font-weight: 400;
        //             line-height: 1.583;    
                          
        //         }
        //     }
          
        // }

        //    .one {
        //     width: 15.347%;
        //    }
        //    .two {
        //        padding-top: 40px;
        //        width: 16.1661%;
        //    }
        //    .three {
        //        padding-top: 39.5px;
        //        width: 14.5290%;
        //    }
        //    .four {
        //        width: 23.5330%;
        //    }

        //    .five {
        //        width: 24.0446%;
        //     .links_five_links {
        //         display: flex;        
        //         color: #dedede;
        //         margin-bottom: 25px;
        //         font-size: 26px;
        //         a {
        //             width: 24px;
        //             height: 24px;
        //             margin-left: 4.5px;
        //             cursor: pointer;
        //         }
        //         a:hover i {
        //             color: #5671a8; 
        //         }
               
        //     }
        //     p {
        //         font-family: Arial;
        //         color:  rgba(57, 57, 57, 0.5);
        //         font-size: 10.99px;
        //         font-weight: 400;
        //         line-height: 5.169px;
        //     }
            
            

          
        // }
}