.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 39px;
        .logo {
            width: 27.2677%;
                
            img {
                max-width: 100%;
                min-width: 115px;

            }
        }

        @import "_nav.scss";
                
}

